---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <br>
{% if page.tags != empty %}
  [{% for tag in page.tags %}
      <a href="/tags/archives#{{ tag | escape }}">{{tag}}</a>
      {% if forloop.index != page.tags.size %},{% endif %} 
    {% endfor %}]
{% endif %}
  <br>

  </header>

  <article class="post-content">
    {{ content }}
  </article>
  
  {% include comment.html %}

</div>
